extends layout
block content
  canvas#canvas(style="border:5px solid;")
  img#back_card(src="/images/UnoCard/Q.png" align="right" width=73.05 height=119.25)
  include chat.pug
  h3 Card Listing
  table
    thead
      tr
        th Id 
        th Type 
        th Color
        th Number 
        th image
    tbody
      each card in cards
        tr
          td= card.id
          td= card.card_type
          td= card.color
          td= card.number
          td= card.image
  script.
    var q_card = new Image();
    var blue0 = new Image();
    var blue1 = new Image();
    var blue2 = new Image();
    var blue3 = new Image();
    var blue4 = new Image();
    var blue5 = new Image();
    var blue6 = new Image();
    var blue7 = new Image();
    var blue8 = new Image();
    var blue9 = new Image();


    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");

    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;


    var action = 0;

    window.onload = function() {

      //- ctx.drawImage(q_card,0,10,q_card.width*0.2, q_card.height*0.2);
    }
    document.getElementById("back_card").addEventListener("click", function(){
      if(action == 0) {
        ctx.drawImage(blue0,10,canvas.height-120,blue0.width*0.15, blue0.height*0.15);
        action++;
      } else if(action == 1) {
        ctx.drawImage(blue1,80,canvas.height-120,blue1.width*0.15, blue1.height*0.15);
        action++;
      } else if(action == 2) {
        ctx.drawImage(blue2,150,canvas.height-120,blue2.width*0.15, blue2.height*0.15);
        action++;
      } else if(action == 3) {
        ctx.drawImage(blue3,220,canvas.height-120,blue3.width*0.15, blue3.height*0.15);
        action++;
      } else if(action == 4) {
        ctx.drawImage(blue4,290,canvas.height-120,blue4.width*0.15, blue4.height*0.15);
        action++;
      } else if(action == 5) {
        ctx.drawImage(blue5,360,canvas.height-120,blue5.width*0.15, blue5.height*0.15);
        action++;
      } else if(action == 6) {
        ctx.drawImage(blue6,430,canvas.height-120,blue6.width*0.15, blue6.height*0.15);
        action++;
      } else if(action == 7) {
        ctx.drawImage(blue7,500,canvas.height-120,blue7.width*0.15, blue7.height*0.15);
        action++;
      } else if(action == 8) {
        ctx.drawImage(blue8,570,canvas.height-120,blue8.width*0.15, blue8.height*0.15);
        action++;
      } else if(action == 9) {
        ctx.drawImage(blue9,640,canvas.height-120,blue9.width*0.15, blue9.height*0.15);
        action++;
      } 
    }, false);


    q_card.src = 'images/UnoCard/Q.png';
    blue0.src= 'images/UnoCard/blue0.png';
    blue1.src= 'images/UnoCard/blue1.png';
    blue2.src= 'images/UnoCard/blue2.png';
    blue3.src= 'images/UnoCard/blue3.png';
    blue4.src= 'images/UnoCard/blue4.png';
    blue5.src= 'images/UnoCard/blue5.png';
    blue6.src= 'images/UnoCard/blue6.png';
    blue7.src= 'images/UnoCard/blue7.png';
    blue8.src= 'images/UnoCard/blue8.png';
    blue9.src= 'images/UnoCard/blue9.png';

  //- #gameArea
  //-   #game_space.col-lg-9.container-fluid.bg-1.text-center
  

